<p>Bonjour,<br>veuillez trouver en pièce jointe la copie du devis mis en place lors de votre consultation.
  Le devis original signé par le praticien et par le patient (ou son représentant légal) est le seul document faisant foi. Ce
  devis n'engage en rien le patient (ou son représentant légal) tant que les actes qui y sont décrits ne sont pas réalisés. Le
  montant du devis est dû <u>sans délai</u> dès que les actes sont mis en oeuvre. Les modalités de prise en charge sont précisées
  pour chacun des actes. Les modalités de paiement sont données lors de la consultation.
</p>
<p>En vous remerciant de la confiance que vous nous accordez.</p>
<p>L'équipe du service de chirurgie orale</p>
<p><br><i>Ceci est un message automatique, merci de ne pas y répondre, il ne serait lu par personne.</i><br>
  Pour toute information contactez le 04.66.68.43.33 </p>
