<p>
Madame, Monsieur,<br>
pour information veuillez trouver en pièce jointe le devis des actes chirurgicaux qui ont été
programmés par le Docteur Lapeyrie ou un des ses collaborateurs. Ce devis précise les actes remboursables et ceux qui ne le sont pas,
 veuillez le lire attentivement</p>
<p>

Le jour de l'intervention si vous souhaitez bénéficier du tiers payant intégral <u>pour les actes remboursables</u>
et ne rien avoir à payer (reste à charge zéro)
 pensez IMPERATIVEMENT
à prendre avec vous votre carte VITALE à jour ET  l'attestation papier de votre aide médicale complémentaire
 (mutuelle, CMU, AME, ACS, etc.).

</p>
<p>
  <b>
    <i>
 Ces documents vous seront réclamés systématiquement. Si vous ne les avez pas vous devrez faire l'avance des frais
 dont le montant figure sur le devis et mener par vous même la procédure de remboursement.
</i>
</b>
</p>
<p>
<b>Attention :</b> votre carte VITALE doit être à jour, des bornes automatiques de mise à jour sont disponibles
à l'accueil du CHU et dans de nombreuses pharmacies.

<p>En vous remerciant de la confiance que vous nous accordez.</p>
<p>L'équipe du service de chirurgie orale</p>
<p><br><i>Ceci est un message automatique, merci de ne pas y répondre, il ne serait lu par personne.</i><br>
  Pour toute information contactez le 04.66.68.43.33 </p>
