<p>Bonjour,<br><br>Après vérification comptable, nous vous informons que la note d’honoraire
jointe n’a pas encore été validée par un règlement.</p>
<p>A défaut de paiement sous 7 jours nous serons contraints de placer votre
dossier en contentieux sans autre préavis, ce qui vous exposerais à des frais supplémentaires
<u>non remboursés par l’assurance maladie</u>.</p>
<p>Le réglement se fait par chèque bancaire rédigé à l'ordre du Dr Lapeyrie ou en espèces
à l'accueil du service de chirurgie orale. Précisez le numéro de facture au dos du chèque. Nous ne prenons pas les cartes bancaires.</p>
<p><i>Nous vous rappelons que les actes médicaux sont dûs immédiatement après avoir été effectués. Vous êtes
 engagé au paiement des honoraires par la signature du devis et à ce titre recouvrable par voie d'huissier.</i></p>
<p>Restant persuadé que cet oubli sera corrigé rapidement, je vous prie de croire,
Madame, Monsieur, en l’assurance de mes salutations distinguées.</p>
<p style="text-align:center;">Dr Ph. Lapeyrie</p>

<p><i>Vous pouvez répondre à ce mail, il sera réceptionné par le Dr Lapeyrie.</i></p>
