<p>Bonjour,<br><br>Après vérification comptable, et malgré notre précédent message nous vous informons que la note d’honoraire
jointe n’a pas encore été validée par un règlement.</p>
<p>Vous devez régler le montant de cette facture.</p>
<p>A défaut de paiement sous 7 jours nous serons contraints de placer votre
dossier en contentieux sans autre préavis, ce qui vous exposerais à des frais supplémentaires
<u>non remboursés par l’assurance maladie</u>.</p>
 <p>Pour ne rien avoir à payer et
bénéficier des avantages de votre assurance complémentaire  vous devez vous rendre dans les plus brefs délais aux
 consultations du service de chirurgie orale (hall 1, niveau -2) avec votre
carte VITALE à jour ET votre attestation de mutuelle (ou de CMU ou d'ACS).
</p>
<br>
<p style="text-align:center;"><b>
IMPORTANT : pour vous éviter l'avance de frais votre carte VITALE est indispensable.
</b></p>
<p>Le réglement se fait également par chèque bancaire rédigé à l'ordre du Dr Lapeyrie ou en espèces
à l'accueil du service de chirurgie orale. Veuillez préciser le numéro de facture au dos du chèque. <u>Attention, nous ne prenons pas les cartes bancaires !</u></p>
<p><i>Nous vous rappelons que les actes médicaux sont dûs immédiatement après avoir été effectués, à défaut ils sont recouvrables par voie d'huissier.</i></p>
<p>Restant persuadé que cet oubli sera corrigé rapidement, je vous prie de croire,
Madame, Monsieur, en l’assurance de mes salutations distinguées.</p>
<p style="text-align:center;">Dr Ph. Lapeyrie</p>

<p><i>Vous pouvez répondre à ce mail, il sera réceptionné par le Dr Lapeyrie.</i></p>
