<p>Bonjour,<br>
veuillez trouver en pièce jointe la facture correspondant aux actes médicaux
 réalisés récemment. Sauf situation particulière le montant de cette facture
 correspond à celui du devis signé par vous même en consultation.</p>
<p>Le réglement se fait par chèque bancaire rédigé à l'ordre du Dr Lapeyrie ou en espèces
à l'accueil du service de chirurgie orale. Précisez le numéro de facture au dos du chèque. Nous ne prenons pas les cartes bancaires.</p>
<br>
<p style="text-align:center;"><b>Si vous avez déjà déposé votre paiement ou remis votre attestation papier valide de CMUC, d'ACE ou d'AME, vous n'êtes pas concerné par ce mail.</b></p>
<br>
 <p><i>Pour information les actes médicaux sont dûs immédiatement après avoir été effectués. Aussi
 nous vous demandons de procéder au paiement dans les plus brefs délais.</i></p>
<br>
 <p>En vous remerciant de la confiance que vous nous accordez.<br>
 L'équipe du service de chirurgie orale</p>
 <p><i>Ceci est un message automatique, merci de ne pas y répondre, il ne serait lu par personne.</i><br>
   Pour toute information contactez le 04.66.68.43.33 </p>
