<p>Bonjour,<br>
vous recevez ce courriel car nous n'avons pas pu encaisser les actes médicaux
dont vous trouverez la facture  en pièce jointe.</p>
<p>Vous devez régler le montant de cette facture.</p>

<p> Pour ne rien avoir à payer et
bénéficier des avantages de votre complémentaire santé  vous devez vous rendre aux
 consultations du service de chirurgie orale (hall 1, niveau -2) avec votre
carte VITALE à jour ET votre attestation de mutuelle (ou de CMU ou d'ACS).

</p>
<br>
<p style="text-align:center;"><b>
IMPORTANT : pour vous éviter l'avance de frais votre carte VITALE est indispensable.
</b></p>
<br>
 <p><i>Vous pouvez également envoyer un chèque à l'ordre du Dr Lapeyrie
    avec le numéro de facture inscrit au dos
ou régler en espèces (pas de carte bancaire) à l'accueil des consultations
de chirurgie orale. Dans ce cas vous recevrez par courrier postal une feuille
de soins que vous devrez vous même compléter et envoyer à votre organisme d'assurance maladie.
</i></p>
<p>Pour information : l'acquittement des soins médicaux doit être éfféctué le jour même de leur réalisation.
Nous vous demandons donc de mener ces démarches dans les plus brefs délais.
</p><br>
 <p>En vous remerciant de la confiance que vous nous accordez.<br>
 L'équipe du service de chirurgie orale</p>
 <p><i>Ceci est un message automatique, merci de ne pas y répondre, il ne serait lu par personne.</i><br>
   Pour toute information contactez le 04.66.68.43.33 </p>
<p>Adresse postale :<br>
Service de chirurgie Orale - Hôpital Carémeau - Place du Pr Debré - 30000 NIMES</p>
